<main>
  <div class="position-relative">
<section class="section section-lg section-shaped pb-200">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="py-lg-md d-flex justify-content-center">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-1 text-white">Titel
        </h1>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
      xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<!-- 1st Hero Variation -->
</div>
<section class="section section-lg pt-lg-0 mt--200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-6">
            <div [routerLink]="['/dashboard']" class="card card-lift--hover shadow border-0">
              <div class="card-body py-5 align-items-center d-flex justify-content-center">
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                  <div class="px-6">
                    <img alt="..." src="assets/img/dashboard.png" width="110" height="100" />
                    <br>
                    <br>
                    <div class="pt-6">
                      <h2 class="text-xl font-bold"> Reports</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5 align-items-center d-flex justify-content-center">
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                  <div class="px-6 align-items-center justify-content-center">
                    <img alt="..." src="assets/img/crm.png" width="110" height="100" class="justify-content-center" />
                    <br>
                    <br>
                    <div class="pt-6">
                      <h2 class="text-xl font-bold"> Management</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>